@page
@model IndexModel

@{
    DateTime DateTimeNow = DateTime.Now;
    int weekdayNow = (int)DateTimeNow.DayOfWeek;
    int delta = Math.Abs(7 - weekdayNow);
    DateTimeNow = DateTimeNow.AddDays(delta);
    string dateString = DateTimeNow.ToShortDateString();

    ViewData["Title"] = $"Aanmelden {dateString}";
}
<form method="POST">

    <div class="text-center">
        <h1 class="display-4">Toy Soldiers</h1>
    </div>
    <p>Geef je op!</p>
    <fieldset>
        <legend>
            gebruikersgegevens @Model.UserEmail
        </legend> 
        <div class="mb-3">
            <label for="input_user-email" class="form-label">naam/e-mail adres</label>
            <input type="text" asp-for="User.Name" class="form-control" id="input_user-email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="input_user-pass" class="form-label">wachtwoord</label>
            <input type="password" asp-for="UserPassword" class="form-control" id="input_user-pass">
        </div>
    </fieldset>
    <fieldset>
        <legend>kies je snacks</legend>
        @for (int i = 1; i < 3; i++)
        {
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">snack @i</span>
                <select class="form-select" name=snack_@i aria-label="Default select example">
                    @foreach (var snackItem in Model.SnackList)
                    {
                        <!option>@snackItem.Name</!option>
                    }
                </select>
            </div>
        }
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </fieldset>
</form>



